html, body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: white;
  font-family: 'Tahoma', 'Verdana', sans-serif;
}

.notie-container {
  box-shadow: none;
  font-size: 15px !important;
}

.app {
  padding-top: 50px; 
}